<ion-header [translucent]="true">
  <!-- <ion-toolbar color="primary">
    <ion-title>
     
    </ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> Rechercher un étudiant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img">
    <img [src]="imgUrl" width="64" height="64" />
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Cycle</ion-label>
      <ion-select [(ngModel)]="item.cycle" interface="action-sheet">
        <ion-select-option value="M">Master</ion-select-option>
        <ion-select-option value="L">Licence</ion-select-option>
        <ion-select-option value="D">Dut</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Formation</ion-label>
      <ion-select [(ngModel)]="item.formation" interface="action-sheet">
        <!-- <ion-select-option value="">Toute les formations</ion-select-option> -->
        <ion-select-option value="Télécom">Télécom</ion-select-option>
        <ion-select-option value="Informtique - Sécurité - Réseaux">Informtique - Sécurité - Réseaux</ion-select-option>
        <ion-select-option value="Marketing">Marketing</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Niveau</ion-label>
      <ion-select [(ngModel)]="item.niveau" interface="action-sheet">
        <ion-select-option value="">Tout les niveaux</ion-select-option>
        <ion-select-option value="1">Première année</ion-select-option>
        <ion-select-option value="2">Deuxième année</ion-select-option>
        <ion-select-option value="3">Troisième année</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Centre</ion-label>
      <ion-select [(ngModel)]="item.centre" interface="action-sheet">
        <ion-select-option value="">Tout les centres</ion-select-option>
        <ion-select-option value="Bamako - Direction">Bamako - Direction</ion-select-option>
        <ion-select-option value="Bamako - Sabalibougou">Bamako - Sabalibougou</ion-select-option>
        <ion-select-option value="Bamoko - Hypodrome">Bamako - Hypodrome</ion-select-option>
        <ion-select-option value="Bamako - Adeken">Bamako - Adeken</ion-select-option>
        <ion-select-option value="Segou">Segou</ion-select-option>
        <ion-select-option value="Sikasso">Sikasso</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Année académique</ion-label>
      <ion-select [(ngModel)]="item.annee" interface="action-sheet">
        <ion-select-option value="">Toute les années</ion-select-option>
        <ion-select-option value="2020-2021">2020-2021</ion-select-option>
        <ion-select-option value="2019-2020">2019-2020</ion-select-option>
        <ion-select-option value="2018-2019">2018-2019</ion-select-option>
        <ion-select-option value="2017-2018">2017-2021</ion-select-option>
        <ion-select-option value="2016-2017">2016-2017</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cours du jour ?</ion-label>
      <ion-toggle [(ngModel)]="item.cours"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nom ou prénom</ion-label>
      <ion-input [(ngModel)]="item.nom"></ion-input>
    </ion-item>


  </ion-list>
  <ion-button shape="round" expand="block" (click)="search()">
    <ion-icon name="search" slot="start"></ion-icon>Rechercher
  </ion-button>
</ion-content>
<ion-footer>
  <app-signature></app-signature>
</ion-footer>