<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mon profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/img/pingouin.png" />
      </ion-col>
      <ion-col>
        <p>Nom: <strong>SISSOKO</strong></p>
        <p>Prénom: <strong>Moussa</strong></p>
        <p>Sexe: <strong>Masculin</strong></p>
        <p>Le né <strong>27/12/2000</strong></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4ieme année téleécom Technolab-ISTA</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>