<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nbe}} étudiants trouvés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let e of etudiants" (click)="openDetail(e)">
    <ion-card-header>
      <!-- <ion-card-subtitle>Matricule : {{e.id}} </ion-card-subtitle> -->
      <ion-card-title>
        <ion-item lines="none" no-padding>
          <div class="photo">
            <img src="assets/img/user.png" (load)="loaded = false" [hidden]="loaded">
            <img *ngIf="e.photo" [src]="e.photo" (load)="loaded = true" alt="">
            <img *ngIf="!e.photo" src="assets/img/user.png">
          </div>
          <div class="name"><span [style.color]="e.sexe==='M' ? 'cornflowerblue' : 'deeppink'">{{e.prenom}}
              {{e.nom |
              uppercase}}</span></div>
        </ion-item>
        <!-- <span *ngIf="e.sexe!=='M'" style="color: deeppink">{{e.prenom}} {{e.nom | uppercase}}</span> -->
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <span></span>
      <p>Tél:<strong>{{e.telephone}}</strong> </p>
      <p>Email:<strong>{{e.email}}</strong> </p>
      <p>Filière:<strong>{{e.formation}}</strong> </p>
    </ion-card-content>
  </ion-card>

</ion-content>