<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>15 étudiants trouvés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let e of etudiants" [routerLink]="'/etudiant-detail/' + e.id" routerDirection="forward">
    <ion-card-header>
      <ion-card-subtitle>Matricule : {{e.id}} </ion-card-subtitle>
      <ion-card-title>
        <span *ngIf="e.sexe==='M'" style="color: cornflowerblue;">{{e.prenom}} {{e.nom | uppercase}}</span>
        <span *ngIf="e.sexe!=='M'" style="color: deeppink">{{e.prenom}} {{e.nom | uppercase}}</span>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <span></span>
      <p>Tél:<strong>{{e.telephone}}</strong> </p>
      <p>Email:<strong>{{e.email}}</strong> </p>
      <p>Filière:<strong>{{e.formation}}</strong> </p>
    </ion-card-content>
  </ion-card>

</ion-content>